.cuerpo {
    background-color: #07215c;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .centrado{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fullScreen{
    height: 100vh;
  }

  .MedScreen{
    height: 70vh;
  }
  .my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
    }

  .fondoBlanco{
    background-color: white;
  }

  .azul{
    background-color: #07215c;
    color: white !important;
  }
  .azul h3, .azul h4, .azul h5, .azul h6{
    color: white !important;
  }

  .azulClaro{
    background-color: #72c8e1;
  }

  .azulMedio{
    background-color: #d7eff6;
  }
  .azulitoPastel{
    background-color: #c2f1ff;
  }

  .letra{
    font-size: 1.4em;
  }

  .foot{
    height: 30vh;
    background-color: #07215c;
    width: 100%;
  }

  .imagen{
    height: 30vh;
  }

  .imagenPeque{
    height: 15vh;
  }

